<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet">
  <link href="https://styles.relate.design/css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>
<body>

<header>
  <a>
    <span class="project-title" onclick="location.href='/'">LeetRest</span>
  </a>
</header>
<section>
  <div class="Container">
    <div class="Column">
      <h2>Добро пожаловать!</h2>
      <p>Выберите книги из нашего каталога</p>
      <a class="Button">
        <span class="button-span" onclick="location.href='/catalogue'">Каталог</span>
      </a>
    </div>
    <div class="Column">
      <img class="image-3gufw"
           src="https://relate-av4mfw.s3.us-east-2.amazonaws.com/6274de63d917974287577768/1488216538.svg"/>
    </div>
  </div>
</section>
</body>
</html>
